* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main'
    'sidebar main main main';
  grid-template-columns: 200px auto;
  grid-template-rows: 1fr 100%;
  background-color: #cbd5e1;
}

header {
  grid-area: header;
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  border-bottom: 1px solid #cbd5e1;
  box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.23);

}

.headerContainer {
  padding: 12px 30px;
  max-width: 1220px;
  width: 100%;
  gap: 15px;
}

.searchContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px;
  width: 100%;
  margin: 0 auto;
}

.searchbar {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
}

.searchbar input {
  border-radius: 15px;
  border: none;
  padding: 5px;
  background-color: #cbd5e1;
  width: 100%;
  max-width: 450px;
}

img {
  border-radius: 50%;
}

.notification {
  min-width: 200px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
}

.notification p {
  font-size: 0.9em;
  font-weight: bold;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    'projects projects sideNote';
  grid-auto-rows: max-content;
  padding: 20px 30px;
  max-width: 1220px;
  width: 100%;
  gap: 15px;
}

svg {
  max-height: 20px;
  max-width: 20px;
  cursor: pointer;
}

svg:hover {
  transform: scale(1.2);
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 5px;
}

.logo svg {
  max-height: 40px;
  max-width: 40px;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-flow: column nowrap;
  gap: 70px;
  background-color: #0ea5e9;
  color: white;
}

.sidebar ul {
  margin: 12px 7%;
}

.sidebar ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 12px;
  cursor: pointer;
}

.settings {
  margin-top: 100px;
}

.welcomeContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 12px 30px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  gap: 10px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
}

.userInfoDet {
  font-size: 10px;
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}

.userInfo p span {
  font-size: 16px;
}

.btnContainer {
  display: flex;
  gap: 15px;
}

.btnContainer button {
  border: none;
  padding: 6px 20px;
  background-color: #0ea5e9;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.projectsContainer {
  grid-area: projects;
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(10.15em, auto);
  gap: 20px;
}

.project {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-left: 10px solid goldenrod;
  padding: 15px 20px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

.project h4 {
  font-size: 14px;
}

.project p {
  font-size: 12px;
  color: #4f5154;
}

.share {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.sideNotes {
  grid-area: sideNote;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 15px;
}

.announcmentsContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}

.announcment {
  padding: 15px 20px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  max-width: 280px;
}

.announcment h4 {
  font-size: 11px;
  margin: 5px 0 2px 0;
}

.announcment p {
  font-size: 12px;
  border-bottom: 1px solid #cbd5e1;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: #4f5154;
}

.announcment p:last-child {
  border: none;
}

.trendingContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}

.trending {
  padding: 15px 20px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  max-width: 280px;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}

.userTrending {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  width: 100%;
  align-items: center;
}

.userTrending img {
  object-fit: fill;
}


.userTrending p {
  font-size: 12px;
  display: flex;
  flex-flow: column wrap;
  color: #4f5154;
}

.userTrending span {
  font-size: 11px;
  color: black;
  font-weight: medium;
}

@media (max-width: 800px) {
  body {
    grid-template-areas:
      'header header header'
      'sidebar sidebar sidebar'
      'main main main';
    grid-template-rows: 1fr 1fr 6fr;
  }

  .sidebar {
    flex-flow: row wrap;
  }

  .settings {
    margin-top: 0;
    align-items: center;
  }
}